// Here you can add other styles
h2, h1, h3{
    font-family: 'Metropolis';
    font-weight: bold
}

h5 {
    font-size: 12px;
    font-family: 'Metropolis';
    font-weight: bold;
}

h4 {
    font-family: 'Metropolis'
}

img {
    border-radius: 50%
}